
:root{
    --bordas: #50A8FF;
    --informacoes: #3A9dFF;
    --entrar: #55b16b;
    --caixalogin:#D9D9D9;
    --Menu:#0062C3;
    --selecionado:#003f59;
    --bordasi_escuro:#12304D;
    --fundo_escuro:#75758A;
    --menu-escuro:#001C38;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bordas);
    color: white;
    font-size: large;
    min-height: 20px;
    width: 100%;
  }

  body{
  background: white;
  }


.menuzin{
    background-color: yellow;
    display: flex;

}


footer{
    background-color: var(--bordas);
    position: fixed;
    color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   bottom: 0;
   font-size:large;
  }

  .tabela{
      background: var(--Menu);
      color: whitesmoke;
  }
  
  